* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    padding: 1rem;
}

ul, ol {
    list-style: none;
}

dl {
    padding: 1rem 0;
}

dl:first-child {
    padding-top: 0;
}

dl dt {
    display: flex;
    justify-content: space-between;
}

dl dd {
    padding: .5rem 0;
}

dl dd ul li:before {
    content: '- '
}

form fieldset {
    padding: 1rem;
}

.form-control {
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
}

.form-control:first-child {
    padding-top: 0;
}

.form-control input {
    padding: .5rem;
}

.striped-list li:nth-of-type(odd) { 
    background-color: beige;
}

.modal {
    width: clamp(100px, 80%, 500px);
    padding: .5rem;
    background-color: aliceblue;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.modal header,
.modal footer {
    display: flex;
    align-items: center;
}

.modal header {
    justify-content: space-between;
}

.modal footer {
    justify-content: end;
}

.modal-backdrop {
    background-color: black;
    opacity: .75;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
